* {
    align-items: center;
    justify-content: center
}
p{
    text-align: justify;
    text-justify: inter-word;
}
* {
    margin-left: 20px;
    margin-right: 20px;
}
* {
    line-height: 1.5;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    border: 1px solid black;
  }

.list ol li {display:block;}
.list ol > li:first-child {counter-reset: list;}
.list ol > li {counter-increment: list; position: relative;}
.list ol > li:before {content:counters(list, ".") ". "; position: absolute; margin-right: 100%; right: 0px;}

#myBtn {
    display: none;
    position: fixed;
    bottom: 5px;
    right: 0px;
    z-index: 0;
    padding: 5px;
    border-radius: 360%;
    background: #141c38;
    border: none;
    cursor: pointer;
}

#myBtn:hover {
    background-color: #555;
}
.back-to-top-icon {
    width: 25px;
    height: 25px;
    color: white;
}
hr{
    border: 1px dashed black;
}
#small{
    max-width: 40%;
}
#medium{
    max-width: 75%;
}
